{% extends "base.html" %}
{% block title %}Home - My Website{% endblock %}
{% load static %}
{% block content %}


<div class="bd7d529-c5dd-40d3-8cf6-ea4ab30fe7d4 b5e63b-ad32-4942-b789-b6ffad2c7a9b">
    <div class="img_diplay">
        <img src="{{book.book_cover_page.url}}" alt="">
    </div>
    <div class="details">
        <h1>{{book.book_name}}</h1>
        <h3>{{book.book_title}}</h3>
        <p>{{book.book_description}}</p>
        <div>
            <button><a href="{% url "download_book" id=book.book_id %}">DOWNLOAD</a></button>
            <button><a href="{% url "edit_book" id=book.book_id %}">Edit</a></button>
            <button class="delete_btn"><a href="{% url "delete_book" id=book.book_id %}">DELETE</a></button>
        </div>
    </div>
</div>


{% endblock %}