{% extends "base.html" %} {% block title %}Dashboard{% endblock %} {%
load static %} {% block content %}

<div class="dashboard-All">
  <div class="genres_wrapper">
    <div class="genres_list">
      <a href="/dashboard/" class="genre-card">All</a>
      <a href="/genre/fiction/" class="genre-card">Fiction</a>
      <a href="/genre/fantasy/" class="genre-card">Fantasy</a>
      <a href="/genre/mystery/" class="genre-card">Mystery</a>
      <a href="/genre/romance/" class="genre-card">Romance</a>
      <a href="/genre/Biography/" class="genre-card">Biography</a>
      <a href="/genre/technology/" class="genre-card">Technology</a>
      <a href="/genre/business/" class="genre-card">Business</a>
      <a href="/genre/self-help/" class="genre-card">Self-Help</a>
    </div>
  </div>
</div>

<div class="dashboard-books">
  <div class="book_wrapper">
    {% for book in books%}
    <div class="book">
      <img src="{{book.book_cover_page.url}}" alt="" />
      {% if book.book_id in liked_list %}
      <a href="{% url "unlike_book" id=book.book_id%}"><i class="fa-solid fa-heart" style="color: #ff0000"></i></a>
      {% else %}
      <a href="{% url "like_book" id=book.book_id%}"><i class="fa-solid fa-heart"></i></a>
      {% endif %}
      <h2>{{book.book_name}}</h2>
      <button><a href="{% url "user_view_book" id=book.book_id%}">view book</a></button>
    </div>
    {% endfor %}
</div>

{% endblock %}
