{% extends "base.html" %} {% block title %}liked book{% endblock %} {%
load static %} {% block content %}

<div class="liked_books-container">
  <div class="liked_list">
    {% for book in liked_list %}
    <div class="liked_book">
      <img src="{{book.book_id.book_cover_page.url}}" alt="" />
      <div>
        <h2>{{book.book_id.book_name}}</h2>
        <p>{{book.book_id.book_description | truncatewords:30}}</p>
      </div>
      <button><a href="{% url "user_view_book" id=book.book_id.book_id%}">view book</a></button>
      <a href="{% url "unlike_book" id=book.book_id.book_id %}"><i class="fa-solid fa-heart" style="color: #ff0000"></i></a>
    </div>
    {% endfor %} {% comment %}
    <div class="liked_book">
      <img src="{% static 'image/signup.png' %}" alt="" />
      <div>
        <h2>book_name</h2>
        <p>book_desc</p>
      </div>
      <button>view book</button>
      <i class="fa-solid fa-heart" style="color: #ff0000"></i>
    </div>
    <div class="liked_book">
      <img src="{% static 'image/signup.png' %}" alt="" />
      <div>
        <h2>book_name</h2>
        <p>book_desc</p>
      </div>
      <button>view book</button>
      <i class="fa-solid fa-heart" style="color: #ff0000"></i>
    </div>
    <div class="liked_book">
      <img src="{% static 'image/signup.png' %}" alt="" />
      <div>
        <h2>book_name</h2>
        <p>book_desc</p>
      </div>
      <button>view book</button>
      <i class="fa-solid fa-heart" style="color: #ff0000"></i>
    </div>
    <div class="liked_book">
      <img src="{% static 'image/signup.png' %}" alt="" />
      <div>
        <h2>book_name</h2>
        <p>book_desc</p>
      </div>
      <button>view book</button>
      <i class="fa-solid fa-heart" style="color: #ff0000"></i>
    </div>
    {% endcomment %}
  </div>
</div>

{% endblock %}
